<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Персонажи</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div class="container">
    <div class="card" data-character-id="1">
        <img src="/static/mario.png" alt="Марио">
        <span class="name">Марио</span>
    </div>
    <div class="card" data-character-id="2">
        <img src="/static/albert.png" alt="Альберт Эйнштейн">
        <span class="name">Альберт Эйнштейн</span>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>